<!DOCTYPE html>
<!-- saved from url=(0047)https://files.free-learn.ir/Quiz/html/home.html -->
<html lang="fa-IR">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>آزمون آنلاین زبان HTML - سایت آموزشی فری لرن</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    @RenderSection("Scripts")
</head>
<body class="ty12">
    @RenderSection("Body")

</body>
</html>