
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Bentil - Online Quiz</title>
    @RenderSection("Head")
</head>
<body>
    @RenderSection("Body")

        @RenderSection("Scripts")


</body>

</html>