@model CharityTestCore.Models.UserListModel

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@section Head{

}
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
@section Body{



<h4 class="mb-4">فرم ثبت‌نام</h4>
<hr />

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <!-- نمایش خطاهای کلی -->
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <!-- مشخصات شخصی -->
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Name" class="control-label">نام</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Family" class="control-label">نام خانوادگی</label>
                <input asp-for="Family" class="form-control" />
                <span asp-validation-for="Family" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="NationalNumber" class="control-label">کد ملی</label>
                <input asp-for="NationalNumber" class="form-control" />
                <span asp-validation-for="NationalNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label">شماره موبایل</label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
        </div>
    </div>

    <hr />

    <!-- اطلاعات کاربری -->
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="UserName" class="control-label">نام کاربری</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Password" class="control-label">رمز عبور</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="RepeatPassword" class="control-label">تکرار رمز عبور</label>
                <input asp-for="RepeatPassword" class="form-control" type="password" />
                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
            </div>
        </div>
    </div>

    <hr />

    <!-- دکمه‌ها -->
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">ذخیره</button>
        <a class="btn btn-warning" asp-controller="Account" asp-action="Login">بازگشت</a>
    </div>
</form>




}


