@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminSimple.cshtml";

}
@section ProfileName
{

}
@section Body {
    <div class="row">
        <div class="col-12">
            <div class="card collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">فیلتر</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-3">
                            <label for="mbtiFilter">تیپ شخصیت:</label>
                            <select id="mbtiFilter" class="form-control">
                                <option value="">همه</option>
                                <option value="INTJ">INTJ</option>
                                <option value="INTP">INTP</option>
                                <option value="ENTJ">ENTJ</option>
                                <option value="ENTP">ENTP</option>
                                <option value="INFJ">INFJ</option>
                                <option value="INFP">INFP</option>
                                <option value="ENFJ">ENFJ</option>
                                <option value="ENFP">ENFP</option>
                                <option value="ISTJ">ISTJ</option>
                                <option value="ISFJ">ISFJ</option>
                                <option value="ESTJ">ESTJ</option>
                                <option value="ESFJ">ESFJ</option>
                                <option value="ISTP">ISTP</option>
                                <option value="ISFP">ISFP</option>
                                <option value="ESTP">ESTP</option>
                                <option value="ESFP">ESFP</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button id="filterButton" class="btn btn-primary">
                        <i class="fa fa-check"></i> تایید
                    </button>



                </div>
                <!-- /.card-footer-->
            </div>
        </div>


    </div>
    <div class="row">


        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">لیست متقاضی </h3>
                </div>
                <div class="card-body">
                    <table id="userstable" class="table table-bordered table-striped dataTable" style="width:100%;">
                        <thead>
                            <tr>
                                <th> کد </th>
                                <th>نام</th>
                                <th>نام خانوادگی</th>
                                <th> کد ملی </th>
                                <th>شماره تماس </th>
                                <th> تست MBTI </th>
                                <th> تست EPT </th>
                                <th width="220px">عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


    </div>
}
@section script{
    <link href="~/apl/swat/sweetalert2.min.css" rel="stylesheet" />
	<script src="~/apl/swat/sweetalert2.all.min.js"></script>
	
    <script>
        var table2;
        $(document).ready(function () {
            load_data2();
        });
        $('body').on('click', '._quiez1', function () {
            var data = table2.row($(this).parents('tr')).data();
            window.open("/Dashboard/Mbti?id=" + data.id, '_blank');
        });

        $('body').on('click', '._edit', function () {
            var data = table2.row($(this).parents('tr')).data();
            window.location.href = "/user/edit?id=" + data.id;
        });
        $('body').on('click', '._quiez2', function () {
            var data = table2.row($(this).parents('tr')).data();
            window.open("/Dashboard/Ept?id=" + data.id, '_blank');
        });

        $('body').on('click', '._delete', function () {
        
            var data = table2.row($(this).parents('tr')).data();
            // window.location.href = "/FilingUser/Insert?id=" + data.id;
            load_data2(data.id);
        });
        $('body #userstable').on('click', '._deletembti', function () {
            var data = table2.row($(this).parents('tr')).data();
           

            Swal.fire({
                title: 'تایید عملیات',
                text: 'آیا از حذف آیتم انتخاب شده اطمینان دارید ؟',
                icon: "warning",
                showCancelButton: !0,
                confirmButtonText: "تایید",
                cancelButtonText: 'انصراف',
                customClass: {
                    confirmButton: "btn btn-danger",
                    cancelButton: "btn btn-outline-danger ms-1"
                },
                buttonsStyling: !1
            }).then((function (t) {
                if (t.isConfirmed) {
                    _deleteMbti(data.id);

                } else {

                }
            }))
        });
        $('body #userstable').on('click', '._deleteept', function () {
            var data = table2.row($(this).parents('tr')).data();


            Swal.fire({
                title: 'تایید عملیات',
                text: 'آیا از حذف آیتم انتخاب شده اطمینان دارید ؟',
                icon: "warning",
                showCancelButton: !0,
                confirmButtonText: "تایید",
                cancelButtonText: 'انصراف',
                customClass: {
                    confirmButton: "btn btn-danger",
                    cancelButton: "btn btn-outline-danger ms-1"
                },
                buttonsStyling: !1
            }).then((function (t) {
                if (t.isConfirmed) {
                    _deleteept(data.id);

                } else {

                }
            }))
        });
        function _deleteMbti(id) {

            $.ajax({
                url: '/Dashboard/MBTIIsDelete?id=' + id,
                datatype: 'json',
                data: JSON.stringify(id),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if (response.result) {
                        toastr.success(response.msg, "تایید", {
                            closeButton: !0,
                            tapToDismiss: !1,
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            progressBar: !0,
                            timeOut: 50e3,
                            rtl: "rtl"
                        })

                    }
                    else if (!response.result) {
                        toastr.error(response.msg, "خطا", {
                            closeButton: !0,
                            tapToDismiss: !1,
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            progressBar: !0,
                            timeOut: 50e3,
                            rtl: "rtl"
                        })
                    }
                    table.ajax.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR:');
                    console.log(jqXHR);
                    console.log('textStatus:');
                    console.log(textStatus);
                    console.log('errorThrown:');
                    console.log(errorThrown);
                }

            });
            Reload_data();
        }
        function _deleteept(id) {

            $.ajax({
                url: '/Dashboard/EPTIsDelete?id=' + id,
                datatype: 'json',
                data: JSON.stringify(id),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if (response.result) {
                        toastr.success(response.msg, "تایید", {
                            closeButton: !0,
                            tapToDismiss: !1,
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            progressBar: !0,
                            timeOut: 50e3,
                            rtl: "rtl"
                        })

                    }
                    else if (!response.result) {
                        toastr.error(response.msg, "خطا", {
                            closeButton: !0,
                            tapToDismiss: !1,
                            showMethod: "slideDown",
                            hideMethod: "slideUp",
                            progressBar: !0,
                            timeOut: 50e3,
                            rtl: "rtl"
                        })
                    }
                    table.ajax.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR:');
                    console.log(jqXHR);
                    console.log('textStatus:');
                    console.log(textStatus);
                    console.log('errorThrown:');
                    console.log(errorThrown);
                }

            });
            Reload_data();
        }
        function Reload_data() {
            location.reload();

        }
        function load_data2(id) {
            var mbtiType = $('#mbtiFilter').val(); // مقدار انتخاب‌شده از فیلتر
            table2 = $('#userstable').DataTable({
                //scrollY: '400px',
                "scrollX": true,
                destroy: true,
                paging: false,
                ajax: {
                    url: "/Dashboard/load_data_users2",
                    type: 'POST',
                    data: function (d) {
                        d.id = id;
                        d.mbtiType = mbtiType; // پارامتر جدید برای فیلتر
                    }
                },
                "language": {
                    "paginate": {
                        "previous": "قبلی",
                        "first": "صفحه اول",
                        "next": "بعدی",
                        "last": "آخرین صفحه"
                    },
                    "decimal": "",
                    "emptyTable": "داده ای درجدول موجود نمی باشد",
                    "info": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                    "infoEmpty": "نمایش 0 تا 0 از 0 رکوردها",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "نمایش _MENU_ رکورد",
                    "loadingRecords": "...درحال بارگذاری",
                    "processing": "درحال پردازش...",
                    "search": "جستجو:",
                    "zeroRecords": "هیچ رکوردی یافت نشد",
                    "sLengthMenu": "نمایش _MENU_ رکورد",
                },
                columns: [
                    { data: "id", name: "id", "visible": false },
                    { data: "name", name: "Name" },
                    { data: "family", name: "Family" },
                    { data: "nationalNumber", name: "NationalNumber" },
                    { data: "mobileNumber", name: "MobileNumber" },
                    { data: "hasMBTIText", name: "HasMBTIText" },
                    { data: "hasEPTText", name: "HasEPTText" },
                    { data: null, "searchable": false, orderable: false },
                ],
              
                columnDefs: [

                    {
                        data: null,
                        defaultContent:
                            '<div class="d-flex justify-content-around flex-wrap" style="width : 220px ">' +
                            '<button type="button" class="btn btn-icon btn-outline-success _edit" style="margin-left: 2px;" title="ویرایش"><i class="fa fa-pencil"></i></button>'
                            + '<button type="button" class="btn btn-icon btn-outline-primary _deletembti" title="حذف آزمون شخصیت"><i class="fa fa-trash"></i></button>'
                            + '<button type="button" class="btn btn-icon btn-outline-primary _quiez1" title="آزمون شخصیت "><i class="fa fa-list"></i></button>'
                            + '<button type="button" class="btn btn-icon btn-outline-secondary _deleteept" title="حذف آزمون استعداد یابی"><i class="fa fa-trash"></i></button>'
                            + '<button type="button" class="btn btn-icon btn-outline-secondary _quiez2" title="آزمون استعداد یابی"><i class="fa fa-list"></i></button>' + '</div>',
                        targets: -1
                    }
                ],
                processing: true,
                serverSide: true,
                paging: true,
                filter: true,
                ordering: false,

            });
        }

        $('#filterButton').on('click', function () {
            load_data2();
        });
    </script>
}
