@model CharityTestCore.Models.MBTIQuestionListModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminSimple.cshtml";

}
@section ProfileName
    {
    @if (User.Identity.IsAuthenticated)
        @User.Identity.Name

}
@section Body{
    @using (Html.BeginForm())
    {
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">آیکون‌ها</h3>
                </div> <!-- /.card-body -->
                <div class="card-body">
                    <p> آیا از حذف داده های مربوط به </p>
                    <p>  </p>
                    <p> مطمئن هستین؟ </p>
                    <strong></strong>
                    <div>
                        <a class="btn btn-danger mx-2" asp-controller="Dashboard" asp-action="MBTIIsDelete" asp-route-id="@Model.Id">
                            <i class="bi bi-pencil-square"></i>
                            بله
                        </a>
                        <a class="btn  btn-primary mx-2" asp-controller="Dashboard" asp-action="MBTI">
                            <i class="bi bi-pencil-square"></i>
                            خیر
                        </a>
                    </div>
                </div><!-- /.card-body -->
            </div>
        </div>
    }

}
@section script{





}