@model CharityTestCore.Models.ChangePasswordInformation

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminSimple.cshtml";

}
@section ProfileName
    {
    @if (User.Identity.IsAuthenticated)
        @User.Identity.Name


}
@section Body{
    @using (Html.BeginForm())
    {
       <div class="row">
            <div class="col-md-4 "></div>
            <div class="col-md-4 ">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">تغییر رمزعبور </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="card-body">
                            <div class="form-group">

                                <label for="inputPassword1" class=" control-label">رمزعبور قدیم</label>

                                    <input asp-for="OldPassword" id="inputPassword1" type="password" placeholder=" رمزعبور قدیم را وارد کنید" class="form-control" required>


                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class=" control-label">رمزعبور جدید</label>

                                    <input asp-for="NewPassword" id="inputPassword1" type="password" class="form-control" placeholder="رمزعبور را وارد کنید" required>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword4" class=" control-label">رمزعبور جدید</label>

                                    <input asp-for="NewPasswordRepeat" id="inputPassword1" type="password" placeholder="رمزعبور جدید را دوباره وارد کنید" class="form-control" required>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">ذخیره </button>
                            <a class="btn btn-warning" asp-controller="Dashboard" asp-action="Index">لغو</a>

                        </div>
                        <div style="margin-top:10px;color:red" class="form-group">
                            @Html.ValidationSummary()
                            @ViewBag.ErrorMessage
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>
            <div class="col-md-4 "></div>
       </div>

    }

}
@section script{





}