@model LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
	<title>صفحه ورود</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="css/Login/style.css">
<style>
		body {
			font-family: Tahoma, serif;
		}
</style>
</head>
<body>
	<section class="ftco-section">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div class="img" style="background-image: url(img/bg-1.jpg);"></div>
						<div class="login-wrap p-4 p-md-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 style="font-family:Tahoma"  class="mb-4">
										فرم زیر را تکمیل کنید 

									</h3>
								</div>

							</div>
							@using (Html.BeginForm("Login", "Account", FormMethod.Post, null))
							{
								<div class="form-group mt-3">
									<input asp-for="UserName" type="text" class="form-control" required>
									<label class="form-control-placeholder" for="username">نام کاربری</label>
								</div>
								<div class="form-group">
									<input asp-for="Password" id="password-field" type="password" class="form-control" required>
									<label class="form-control-placeholder" for="password">پسورد</label>
									<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
								</div>
								<div class="form-group">
									<button type="submit" class="form-control btn btn-primary rounded submit px-3">ورود</button>
								</div>
								<div class="form-group d-md-flex">
									<div class="w-50 text-left">
										<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
										<label for="vehicle1"> من را به خاطر بسپار</label><br>
									</div>
								</div>
								<div style="margin-top:10px;color:red" class="form-group">
									@Html.ValidationSummary()
									@ViewBag.ErrorMessage
								</div>
							}
		
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/Login/jquery.min.js"></script>
	<script src="js/Login/popper.js"></script>
	<script src="js/Login/bootstrap.min.js"></script>
	<script src="js/Login/main.js"></script>

</body>
</html>

